/*! CSS Used from: https://explorer.walletconnect.com/_next/static/css/7b42e9ec5caba632.css */
.styles_image__9dfzG{opacity:0;transition:opacity .15s ease-in-out;}
.styles_loaded__4M8Ff{opacity:1;}
#styles_header__KZ1Y1{display:flex;align-items:center;z-index:3;margin:2em auto 0;transition:margin .1s ease-in-out;max-width:calc(1440px - 160px);}
@media (max-width:1000px){
#styles_header__KZ1Y1{flex-direction:column;justify-content:space-between;align-items:flex-start;padding:7px 10px 10px;}
}
.styles_logo__rasCe{transition:opacity .2s ease-in-out;cursor:pointer;}
.styles_logo__rasCe:hover{opacity:.8;}
*,:after,:before{box-sizing:border-box;}
*{margin:0;}
ul{list-style:none;padding:0;}
body{min-height:100vh;text-rendering:optimizeSpeed;-webkit-font-smoothing:antialiased;line-height:1.5;}
a{-webkit-text-decoration-skip:ink;text-decoration-skip-ink:auto;text-decoration:none;}
img{max-width:100%;display:block;}
button,input{font:inherit;}
h3,p{overflow-wrap:break-word;}
#__next{isolation:isolate;}
body{overflow:hidden;}
a,button,h3,p,span{opacity:0;transition:opacity .15s ease-in-out;}
.fontsLoaded a,.fontsLoaded button,.fontsLoaded h3,.fontsLoaded p,.fontsLoaded span{opacity:1;}
#__next{max-width:1440px;margin:0 auto;padding:0 80px 40px;}
@media (max-width:1100px){
#__next{padding:0 40px;}
}
@media (max-width:800px){
#__next{padding:0 10px;}
}
/*! CSS Used from: https://explorer.walletconnect.com/_next/static/css/703e12078c3a3f35.css */
.styles_roundedButton__ZEM8m{height:40px;width:40px;border-radius:20px;display:flex;justify-content:center;align-items:center;background-color:var(--color-blueberry);border:1px solid var(--color-blueberry);cursor:pointer;transition:background-color .3s ease-in-out;}
.styles_roundedButton__ZEM8m:hover{background-color:var(--color-blueberry-lite);}
.styles_heading__YwDIe{font-family:ABC Diatype Bold,sans-serif;font-feature-settings:"case","ss02","ss04","ss06";}
.styles_heading3__iwGXC{font-size:50px;line-height:100%;letter-spacing:-.03em;}
@media (max-width:800px){
.styles_heading3__iwGXC{font-size:32px;line-height:100%;letter-spacing:-.02em;}
}
.styles_text__LlfBJ{font-family:ABC Diatype,sans-serif;font-feature-settings:"ss02","ss04","ss06";color:var(--color-grey-100);}
.styles_text2__xsLxi{font-size:20px;line-height:120%;letter-spacing:-.01em;}
@media (max-width:800px){
.styles_text2__xsLxi{font-size:16px;line-height:140%;letter-spacing:-.01em;}
}
.styles_text3__Jd2fb{font-size:16px;line-height:140%;letter-spacing:-.01em;}
.styles_anchor__OG73y{font-family:ABC Diatype,sans-serif;font-feature-settings:"case","ss06";text-transform:uppercase;color:var(--color-grey-100);}
.styles_anchor2__5Nde8{font-size:14.2px;line-height:125%;letter-spacing:.04em;}
.styles_colorWhite__UuUMU{color:var(--color-grey-100);}
.styles_colorBlack__d7Lqy{color:var(--color-grey-8);}
.styles_colorGrey__ZiDfp{color:var(--color-grey-70);}
.styles_wrapper__Y7yzK{padding:40px 40px 0;width:100%;display:flex;justify-content:flex-end;}
.styles_paginationWrapper__vuQ23{display:flex;align-items:center;-moz-column-gap:20px;column-gap:20px;}
.styles_buttonWrapper__PVFnB{display:flex;-moz-column-gap:10px;column-gap:10px;}
.styles_textWrapper__OgqrH{display:flex;-moz-column-gap:8px;column-gap:8px;}
.styles_number__NfTwF{font-weight:500;}
.styles_divider__NehmZ{color:var(--color-grey-50);font-weight:500;}
.styles_disabled__EqSSQ{cursor:not-allowed!important;}
.styles_disabled__EqSSQ>img{opacity:.33!important;}
.styles_radio__CpU2s{display:flex;padding:7px 16px 7px 12px;align-items:center;-moz-column-gap:10px;column-gap:10px;cursor:pointer;}
.styles_radio__CpU2s:hover>.styles_field__3CYQc{background:hsla(0,0%,100%,.33);border:1px solid hsla(0,0%,100%,.33);}
.styles_blue__H0aWt{border:1px solid var(--color-blueberry-lite);}
.styles_green__SO2zs{border:1px solid var(--color-green-fg);}
.styles_orange__4P1r5{border:1px solid var(--color-orange-lite);}
.styles_purple__aFOBJ{border:1px solid var(--color-purple-lite);}
.styles_transparent___SMUN{padding-left:0;border:1px solid transparent;}
.styles_radiusLG__mzNhy{border-radius:20px;}
.styles_radiusMD__2WDxv{border-radius:10px;}
.styles_radiusSM__asXe7{border-radius:2px;}
.styles_input__H8hsQ{opacity:0;position:absolute;}
.styles_input__H8hsQ:checked+.styles_field__3CYQc{border:1px solid #66b1ff;background:var(--color-blue-100);box-shadow:inset 0 1px 0 transparent;}
.styles_nonActive__KzUOB>img{opacity:0;}
.styles_field__3CYQc{width:22px;height:22px;border:1px solid hsla(0,0%,100%,.33);box-shadow:inset 0 1px 0 rgba(0,0,0,.33);border-radius:22px;background:hsla(0,0%,100%,.1);display:flex;justify-content:center;align-items:center;transition:background .3s ease-in-out;}
.styles_icon__x3Y7v{transition:opacity .3s ease-in-out;}
.styles_label__H1n8b{font-family:ABC Diatype;font-style:normal;font-weight:500;font-size:14.2px;line-height:125%;letter-spacing:.04em;text-transform:uppercase;color:var(--color-grey-90);}
.styles_select__ahj_M{width:100%;border:1px solid var(--transparent-white-33,hsla(0,0%,100%,.33));padding:0 8px 0 16px;margin-right:35px;border-radius:20px;overflow:hidden;}
.styles_selectWrapper__Y0lMQ{display:flex;justify-content:space-between;align-items:center;padding:10px 0;cursor:pointer;}
.styles_label__vQdOV,.styles_selectListTitle__M3gRO{font-family:ABC Diatype;font-style:normal;font-weight:500;font-size:14.2px;line-height:125%;letter-spacing:.04em;text-transform:uppercase;color:var(--color-grey-90);}
.styles_selectList__fpMRt{margin-top:10px;}
.styles_selectLists__u4_pG{display:flex;flex-direction:column;height:0;}
.styles_selectLists__u4_pG>.styles_selectList__fpMRt{border-top:1px solid var(--transparent-white-33,hsla(0,0%,100%,.33));padding-top:16px;}
.styles_selectLists__u4_pG>.styles_selectList__fpMRt:first-child{padding-bottom:8px;padding-top:0;border-top:none;}
.styles_selectListTitle__M3gRO{color:var(--color-grey-50);margin-bottom:8px;}
.styles_wrapper__Ob9i_{display:flex;flex-direction:column;row-gap:30px;width:24%;}
@media (max-width:900px){
.styles_wrapper__Ob9i_{width:100%;flex-wrap:wrap;row-gap:20px;margin-top:20px;}
}
.styles_inputWrapper___mziH{display:flex;margin-top:10px;flex-wrap:wrap;gap:10px;}
.styles_title___4GHV{font-weight:700;color:var(--color-grey-50);}
.styles_wrapper__OoY_5{width:65%;grid-template-columns:repeat(4,minmax(0,1fr));grid-column-gap:13px;-moz-column-gap:13px;column-gap:13px;grid-row-gap:30px;row-gap:30px;display:grid;}
@media (max-width:1300px){
.styles_wrapper__OoY_5{grid-template-columns:repeat(3,minmax(0,1fr));}
}
@media (max-width:1000px){
.styles_wrapper__OoY_5{grid-template-columns:repeat(2,minmax(0,1fr));}
}
@media (max-width:900px){
.styles_wrapper__OoY_5{grid-template-columns:repeat(3,minmax(0,1fr));width:100%;margin-top:50px;}
}
@media (max-width:600px){
.styles_wrapper__OoY_5{grid-template-columns:repeat(2,minmax(0,1fr));}
}
.styles_card__5WUJ4{width:100%;position:relative;aspect-ratio:1/1;border:1px solid hsla(0,0%,100%,.1);border-radius:44px;background:rgba(39,42,42,.66);-webkit-backdrop-filter:blur(20px);backdrop-filter:blur(20px);}
.styles_contentWrapper__KWQV9{width:100%;height:100%;position:relative;overflow:hidden;border-radius:44px;}
.styles_logo__yKt9v{position:absolute;left:20px;top:-10px;border-radius:84px;-o-object-fit:cover;object-fit:cover;z-index:50;box-shadow:0 2px 6px 1px rgba(0,0,0,.1);border:1px solid hsla(0,0%,100%,.1);}
@media (max-width:500px){
.styles_logo__yKt9v{width:80px;height:80px;}
}
.styles_copy__j8cFZ{position:absolute;right:22px;bottom:22px;width:16px;height:auto;transform-origin:center center;transition:scale .3s ease-in-out;}
.styles_copy__j8cFZ:hover{scale:1.1;}
.styles_background___XKHx{background:rgba(39,42,42,.66);position:absolute;width:100%;height:100%;inset:0;filter:blur(20px);opacity:.2;}
.styles_type__vcI_U{margin-top:120px;padding:0 20px;color:hsla(0,0%,100%,.66);}
@media (max-width:500px){
.styles_type__vcI_U{margin-top:90px;}
}
.styles_title__82ah5{margin-top:4px;padding:0 20px;font-weight:700;}
.styles_wrapper__xqTZb{width:580px;background:var(--color-grey-24);border:1px solid var(--color-grey-36);border-radius:12px;position:relative;}
@media (max-width:1200px){
.styles_wrapper__xqTZb{width:450px;}
}
@media (max-width:900px){
.styles_wrapper__xqTZb{width:100%;}
}
.styles_logo__vjVTC{width:16px;height:16px;position:absolute;left:16px;top:50%;top:12px;}
.styles_input__CPgv7{background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;width:100%;color:#fff;font-family:ABC Diatype;font-style:normal;font-weight:400;font-size:16px;border-radius:12px;line-height:140%;padding:9px 42px;}
.styles_input__CPgv7:focus{outline:1px solid #fff;}
.styles_input__CPgv7::placeholder{color:var(--color-grey-70);}
.styles_headingWrapper__JHvEE{display:flex;align-items:center;justify-content:space-between;padding:0 10px;}
.styles_sidebarWrapper__vGqrR{overflow:visible;padding:10px 0;border-top:solid hsla(0,0%,100%,.16);border-bottom:solid hsla(0,0%,100%,.16);}
@media (min-width:900px){
.styles_sidebarWrapper__vGqrR{display:none;}
}
.styles_button__gAHKk{border-radius:20px;background-color:transparent;outline:none;border:1px solid transparent;display:flex;flex-direction:row;justify-content:center;align-items:center;height:40px;min-height:40px;padding:2px 16px 0;transition:background-color .2s ease-in-out,border-color .2s ease-in-out;cursor:pointer;}
.styles_button__gAHKk:disabled{opacity:.7;pointer-events:none;}
.styles_button__gAHKk:disabled span{opacity:0!important;}
.styles_button__gAHKk img{margin-top:-1px;transition:transform .2s ease-in-out;}
.styles_button__gAHKk:hover img{transform:translateX(2px);}
.styles_button__gAHKk:disabled span{opacity:.5;}
.styles_fillWhite___cA0O{background-color:var(--color-grey-95);border-color:var(--color-grey-100);}
.styles_textIconLeft__4Lh1o{margin-left:10px;}
.styles_wrapper__3wkNN{margin:calc(80px + 48px) 0;display:flex;align-items:flex-end;-moz-column-gap:20px;column-gap:20px;}
@media (max-width:900px){
.styles_wrapper__3wkNN{align-items:flex-start;flex-direction:column;row-gap:20px;margin-left:20px;margin-right:20px;}
}
.styles_title__s2z6k{width:24%;}
@media (max-width:900px){
.styles_title__s2z6k{width:100%;text-align:center;}
}
.styles_inputWrapper__lH_x0{display:flex;justify-content:space-between;align-items:center;width:76%;}
@media (max-width:900px){
.styles_inputWrapper__lH_x0{display:none;width:100%;-moz-column-gap:20px;column-gap:20px;}
}
.styles_wrapper__jzE53{display:flex;margin:80px 0;-moz-column-gap:20px;column-gap:20px;}
@media (max-width:900px){
.styles_wrapper__jzE53{flex-direction:column;margin:20px 0;}
.styles_wrapper__jzE53>form:first-child{display:none;}
}
/*! CSS Used fontfaces */
@font-face{font-family:ABC Diatype Bold;src:url(https://explorer.walletconnect.com/fonts/ABCDiatype-Bold.woff2) format("woff2");font-weight:700;font-style:normal;}
@font-face{font-family:ABC Diatype;src:url(https://explorer.walletconnect.com/fonts/ABCDiatype-Regular.woff2) format("woff2");font-weight:400;font-style:normal;}